extends ../_base/layout.pug

block main

  .container
    .row
      .col-lg-12
        h1 Travail list
        p Create new object 
          a( href="/travail/create" ) Here
        div.l-card-container
          for travail in travailList
            +renderTravailInformation( travail )