aside.m-sidebar
  h2.m-sidebar__title Test
  ul.m-sidebar__list
    li.m-sidebar__list__item
      a( href="/user/list" ).m-sidebar__list__link Retrieve user list 
    li.m-sidebar__list__item
      a( href="/travail/list" ).m-sidebar__list__link Retrieve travail list
