extends ./_base/layout.pug

block main

  .container
    .row
      .col-lg-12
        h1 Welcome to Reflexive Javascript
        p Retrieve user list 
          a( href="/user/list" ) Here
        p Retrieve travail list 
          a( href="/travail/list" ) Here