body {
  padding: 0;
  margin: 0;
}

.l-header {
  background-color: $first-theme-presentation;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.l-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.l-main {
  padding: 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.m-content {
  width: 100%;
}

.hide {
  display: none !important;
}